.main_container{
    width: 95%;
    margin: auto;
    border: 1px solid gray;

}
nav{
    border: 2px solid black;
    padding: 20px;
}
#hero_section{
    border: 2px solid red;
    padding: 20px;
}
.form_container{
    width: 100%;
    border: 2px solid gray;
    display: flex;
    gap: 20px;

    justify-content: space-between;
}
#form_div{
width: 40%;
border: 2px solid rgb(60, 0, 128);
}
#table_div{
    width: 80%;
    /* border: 2px solid green; */
}
table{
    width: 100%;
}
footer {
    border: 2px solid rgb(0, 4, 255);
    padding: 20px;
}